*{
margin:0;
padding: auto;
box-sizing: border-box;
}
.menu{
  height: 60px;
  align-items: center;
  display:flex;
  font-size: large;
  font-weight: 400;
  font-family:fantasy;
  list-style: none;
  justify-content: space-evenly;
  background-color: antiquewhite;
}
.menu:hover{
background-color: blueviolet;
color:aliceblue;
}
li:hover{
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  background:linear-gradient(rgb(233, 233, 233),rgb(160, 151, 151),green)
}
.btn-submit{
  background-color: rgb(228, 142, 30);
  text-decoration:none;
  border-style: none;
  padding: 10px;
  border-radius: 9px;


}
..btn-submit:hover{
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  background:linear-gradient(rgb(233, 233, 233),rgb(160, 151, 151),green) 
}